@import url(./Reset.css);
body{
    font-family: sans-serif;
    background-color: black;
}
h1{
    color: #eed490;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    padding-top: 100px;
}
header{
    background-color: black;
    background-image: url('../images/1.png');
    min-height: 900px;
    background-position: center;
    background-size: cover;
}
header p{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 200;
    padding-top: 20px;
} 
@media (max-width:610px) {
    .container{
        padding: 0 20px;
    }
    h1{
        font-size: 40px;
        word-break:keep-all;
    }
    .br1{
        display: none;
    }
    header p{
        font-size: 25px;
    }
}
/* ------------------------------------------------------------ */
.sect1 {
    background-image: url('../images/2.png');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: flex-end;
    padding-top: 80px;
}
.div-sect1-main {
    display: grid;
    grid-template-columns: repeat(4 fr);
    padding-bottom: 50px;
}
.div-sect1-up {
    grid-column: span 4;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 80px 0;
}
.div-sect1-up h2{
    color: #eed490;
    width: 35%;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.3;
}
.div-sect1-up p{
    width: 40%;
    padding-top: 30px;
    line-height: 1.2;
    font-size:25px;
    font-weight: 300;
}
.div-sect1-down-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-top: 80px;
}
.div-sect1-down-left strong{
    font-size: 30px;
    font-weight: 400;
}
.div-sect1-down-left p{
    width: 70%;
    line-height: 1.2;
    font-size: 17px;
}
.div-sect1-down-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}
.div-sect1-down-right strong{
    font-size: 30px;
    font-weight: 400;
}
.div-sect1-down-right p{
    line-height: 1.2;
    font-size:17px;
    font-weight: 300;
}
.div-sect1-down-right ul{
    display: flex;
    flex-direction: column;
    gap: 18px;
    list-style: disc ;
}
@media (max-width:1500px) {
    .container{
        padding: 0 30px;
    }
    .div-sect1-down-left{
        padding-left: 50px;
    }
}
@media (max-width:1000px) {
    .div-sect1-main{
        padding: 0 30px;
    }
    .div-sect1-up{
        grid-column: span 4;
    }
    .div-sect1-down-left{
        grid-column: span 4;
        padding-left: 0;
    }
    .div-sect1-down-right{
        grid-column: span 4;
    }
    .div-sect1-main p{
        width: 100%;
        text-align: center;
    }
    .div-sect1-main h2{
        width: 100%;
        text-align: center;
    }
    .div-sect1-main strong{
        width: 100%;
    }
    .div-sect1-main{
        text-align: center;
    }
    .div-sect1-main ul{
    list-style: none;
    }
}
@media (max-width:580px) {
    .div-sect1-up p{
        color:black;
    }
}
/* ----------------------------------------------------------------- */
.sect2{
    background-color: black;
    padding-top: 60px;
}
.div-sect2-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    /* gap: calc(25% - 10px); */
    align-items: flex-end;
    padding-bottom: 60px;
}
.div-sect2-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.div-sect2-main strong{
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 20px;
}
.div-sect2-main p{
    font-size: 24px;
}
@media (max-width:1000px) {
    .div-sect2-main{
        flex-direction: column;
        align-items: center;
    }
    .div-sect2-main img{
        transform: rotate(270deg);
    }
}
@media (max-width:660px) {
    .div-sect2-cart img{
        transform: rotate(0deg);
    }
    .div-sect2-main {
        gap: 50px;
    }
}
/* ======================================================== */
.sect3 {
    background-image: url('../images/6.png');
    background-position: right;
    background-size: cover;
    color: white;
    min-height:750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -3px;
}

.div-sect3-main {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div-sect3-up h3{
    color: #eed490;
    font-size: 30px;
    padding: 20px 0;
}
.div-sect3-down {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}
.div-sect3-down strong{
    font-size: 30px;
    display: inline-block;
    padding-bottom: 30px;
    color: #eed490;
    font-weight: 400;
    width: 80%;
}
.div-sect3-down p{
    line-height: 1.4;
    width: 60%;
}
.sect3-lastp{
    width: 100% !important;
}
@media (max-width:1300px) {
    .div-sect3-main{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.496);
        padding: 10px;
        border-radius: 15px;
    }
    .div-sect3-main p{
        color: black;
    }
}
@media (max-width:590px) {
    .div-sect3-main {
        text-align: center;
        margin-bottom: 30px;
    }
    .div-sect3-down {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div-sect3-main p{
        width: 100%;
        padding-bottom: 30px;
    }
}
/* ------------------------------------------------------- */
.sect4{
    color: white;
    padding-top: 170px;
}
.backg-color-sect4 {
    background-image: url('../images/7.jpg');
    min-height: 550px;
    background-position:right; 
    background-repeat:no-repeat ;
    background-size: 60%;
}

.div-sect4-main {
    width: 40%;    
    padding-left: 70px;
}
.div-sect4-main h2{
    font-size: 40px;
    font-weight: 400;
}
.div-sect4-main strong{
    font-size: 25px;
    line-height: 1.3;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px 0;
    display: inline-block;
}
.div-sect4-main p{
    line-height: 1.4;
    font-size: 18px;
}
@media (max-width:1250px) {
    .div-sect4-main{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.496);
        padding: 10px;
        border-radius: 15px;
        text-align: center;
        color: black;
    }
    .div-sect4-main h2{
        color:#eed490;
    }
}
/* ---------------------------------------------------- */
.sect5{
    background-image: url('../images/8.png');
    min-height: 900px;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    color: white;
    display: flex;
}
.div-sect5-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.div-sect5-main h2{
    color: #eed490;
    font-size: 60px;
    font-weight: 400;
    width: 60%;
    text-align: center;
}
.div-sect5-main p{
    text-transform: uppercase;
    font-size: 35px;
    width: 60%;
    text-align: center;
    line-height: 1.4;
}
@media (max-width:1250px) {
    .div-sect5-main{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.496);
        padding: 10px;
        border-radius: 15px;
        text-align: center;
        color: black;
    }
    .div-sect5-main h2{
        color:#eed490;
    }
    .div-sect5-main p{
        width: 100%;
    }
}
/* ---------------------------------------------- */
.div-sect6-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 70px;
}
.div-sect6-main img{
    width: 350px;
    aspect-ratio: 1 / 1;
}
@media (max-width:1110px){
    .div-sect6-main img{
        border: 1px solid white;
        margin: 10px 0;
    }
    .div-sect6-main {
        column-gap: 10px;
    }
}